{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1>Bienvenue sur la page d'accueil de Symfony!</h1>


<img src = "{{asset ('img/s23Img.jpg')}}>
{% endblock %}
